@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
   /*border:1px solid black*/
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    text-align: left;
    color:#180f4a;
    font-size: 20px;
}

.menu{
    flex:70%;
    text-align: right;
    padding: 20px;
}

h1{
    font-family: 'Lobster', cursive;
    color:#180f4a;
}

.menu a{
    color:#180f4a;
    text-decoration: none;
    font-size: 20px;
    padding:20px 16px;
}

.menu a:hover{
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#botaofaleconosco{
    background-color: #180f4a;
    padding: 10px 25px;
    color:white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botaofaleconosco:hover{
    border-top:none;
    background: #ff2978;
}

.header{
    display:flex;
    flex-flow: row wrap;
    /* border:1px solid black; */
    flex:50%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.headline{
    margin-left:10%;
    flex:40%;
}

.headline h2{
    font-weight: 900;
    color: #180f4a;
    margin: 0;
    padding: 0;
}

.img-headline{
    margin: right 10%;
    flex:40%;
    text-align: center;
}


.contrate-btn{
    text-decoration: none;
    background-color: #ff2978;
    color: white;
    padding:10px;
    text-transform: uppercase;
    border-radius: 5px;
    display:inline-block
}

.contrate-btn:hover{
    background-color: #180f4a;
}

.meiodosite{
    display:inline;
    text-align: center;
    justify-content:center ;
}

section{
    display: inline-block;
    margin-top:80px;
    /* border:1px solid black; */
    margin-left:5%;
    margin-right:5%;
    padding: 5%;
    text-align: center;
    width: 90%;
}

section h2{
    width:100%;
    font-size: 50px;
    margin:0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:#180f4a;
}

.servicos{
    display: inline-block;
    margin-top:5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 19px;
    margin: 1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
}

.texto-oculto{
    display:none;
}

.card:hover{
    background-color: #ff2978;
    color:white;
    padding:40px;
}

.card:hover img{
    display:none;
}

.card:hover .card-text {
    display:none;
}

.card:hover .texto-oculto{
    display:block;
}

.fim{
    margin-top:80px;
    border:1px solid black;
    background-color: #180f4a;
    height: 250px;
    width: 100%;
    text-align: center;
    border-top: 5px solid #ff2978;
    background-image: linear-gradient(180deg, #180F4A, #090422, black);

}

.texto-final1{
    font-family: 'Lobster', cursive;
    color:white;
}

.texto-final2{
    color: white;
}

.texto-final3{
    color: white;
    margin-top: 8%;
}

.wpp{
    height:60px;
    position: fixed;
    right: 4px;
    bottom: 4px;
    margin: 20px;
}

@media screen and (max-width:1005px){
    .navbar{
        position: relative;
    }
    .menu{
        display:none;
    }
    .logo{
        margin:0;
        text-align: center;
    }
    .header{
        padding-top: 50px;
    }
    .headline{
        flex:100%;
        margin:5%;
        text-align: center;
    }
    .headline p{
        text-align: center;
    }
    .img-headline{
        flex: 100%;
        margin:5%;
        text-align: center;
    }
    .wpp{
        display:none;
    }
    .card{
        width: 100%;
    }
}